<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Rocket Web Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="admin_system_config_changed_section_carriers">
    <observer name="mageos_shopping_feed_carriers_update" instance="MageOS\ShoppingFeed\Observer\CarriersUpdate"/>
  </event>
  <event name="controller_action_postdispatch_adminhtml_system_currency_saveRates">
    <observer name="mageos_shopping_feed_rates_update" instance="MageOS\ShoppingFeed\Observer\RatesUpdate"/>
  </event>
  <event name="layout_generate_blocks_after">
    <observer name="mageos_shopping_feed_remove_block" instance="MageOS\ShoppingFeed\Observer\PopupLayout"/>
  </event>
  <event name="mageos_shopping_feed_before_generate_google_shopping">
    <observer name="mageos_shopping_feed_google_promotions_observer_generator" instance="MageOS\ShoppingFeed\Observer\Promotions\Generator"/>
  </event>
  <event name="mageos_shopping_feed_upload_after">
    <observer name="mageos_shopping_feed_google_promotions_observer_uploader" instance="MageOS\ShoppingFeed\Observer\Promotions\Uploader"/>
  </event>
</config>
